.calculatorContainer{
    font-family: 'Times New Roman', Times, serif;
    width: 300px;
}
.displayResult{
    font-size: 1.5rem;
    font-weight: 600;
    opacity: 60%;
    padding: 10px;
}

.buttonContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 10px;
}

.button{
    width: 50px;
    height: 50px;
    padding: 10px;
    border: 2px solid #131212;
    border-radius: 10px;
    margin: 5px;
    font-size: 1.2rem;
    text-align: center;
}